@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: #20df60;
    --color-primary-dark: #1bc655;
    /* primary-hover */
    --color-primary-hover: #2bc960;
    --color-accent: #FF9F43;
    --color-accent-orange: #fb923c;
    --color-accent-orange-hover: #f97316;

    --color-background-light: #f6f8f6;
    --color-background-dark: #112116;
    --color-card-dark: #1c2e24;

    --color-text-main: #111713;
    --color-text-muted: #63886f;
    --color-text-light: #64876f;
    --color-text-dark: #111713;

    --color-soft-green: #dcfce7;
    --color-soft-orange: #ffedd5;
    --color-input-border: #dce5df;
    --color-border-light: #dce5df;

    /* Fonts */
    --font-display: "Manrope", sans-serif;
    --font-body: "Noto Sans", sans-serif;

    /* Animations */
    --animate-fade-in-up: fadeInUp 0.5s ease-out;
    --animate-bounce-slow: bounce 3s infinite;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Base Styles */
body {
    font-family: var(--font-display);
    background-color: var(--color-background-light);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}